/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');  /*importacion de la fuente*/
:root {
  --color-primary: #3498db;
  --color-secondary: #00B894;
  --color1 : #12473e ;
  --color2 : #026f6e ;
  --color3 : #1ca39e ;
  --font-family-h1: 'Roboto', sans-serif;
  --font-family-text: 'Lato', sans-serif;
  --font-family-varios: 'Arial', sans-serif;
}

.fuentePortada{
  font-family: var(--font-family-h1);
}

.fuenteNav2Bt{
  font-size: smaller;
  text-transform: uppercase;
  font-family: var(--font-family-text);
}

.fuenteNav{
  font-size: medium;
  text-transform: uppercase;
  font-family: var(--font-family-text);
}


.color{
  background-color: var(--color1);
}

span{
  color: rgb(182, 182, 36);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ml-custom{
  margin-left: 1200px;
}

.mt-custom{
  margin-top: -280px;
}


