@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');  /*importacion de la fuente*/
:root {
  --color-primary: #3498db;
  --color-secondary: #00B894;
  --color1 : #12473e ;
  --color2 : #026f6e ;
  --color3 : #1ca39e ;
  --font-family-h1: 'Roboto', sans-serif;
  --font-family-text: 'Lato', sans-serif;
  --font-family-varios: 'Arial', sans-serif;
}


.fuenteA{
    font-family: var(--font-family-h1);
  }
  
  /*FUENTE DE LOS BTNS de logueos*/
  .fuenteB{
    
    text-transform: uppercase;
    font-family: var(--font-family-text);
  }